@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.input {
    @apply w-full px-4 py-2 rounded-xl border border-gray-300 focus:ring-2 focus:ring-black/40 outline-none bg-white/60 backdrop-blur-xl;
}

button:hover {
    @apply cursor-pointer;

}